body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img.jpg'); 
    background-size: cover; 
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    margin: 0;
}

.clock-container {
    text-align: center;
    background:#fcf1e7;
    opacity: 0.9;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.clock {
    font-size: 60px;
    letter-spacing: 2px;
    color: black;
}

.date {
    font-size: 20px;
    margin-top: 10px;
    color: black;
}